 <style type="text/css">
            .syotimer{
            text-align: center;
            margin: 30px auto 0;
            padding: 0 0 10px;
        }
        .syotimer-cell{
            display: inline-block;
         margin: 0 3px;   
         width: 77px;
            background: url(images/timer.png) no-repeat 0 0;
        }
        .syotimer-cell__value{
            font-size: 35px;
            color: #80a3ca;
            height: 81px;
            line-height: 81px;
            margin: 0 0 5px;
        }
        .syotimer-cell__unit{
            font-family: Arial, serif;
            font-size: 12px;
            text-transform: uppercase;
        }
    </style>